spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/studylog
    username: studylog
    password: studylog
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true

server:
  port: 8080
